footer{
    background-color: white;
    height: 7vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul{
    margin-left: 85px;
    display: flex;
}

footer ul li{
    list-style: none;
    margin-right: 7px;
}

footer ul li .icon{
    color: #384951;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

footer p{
    color: #384951;
    margin-right: 85px;
    font-weight: bold;
}

@media (max-width: 720px){
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer ul{
        margin: 0 auto;
    }

    footer p{
        margin: 0 auto;
        font-size: 12px;
    }
}